@use "../../assets/sass/variable.scss" as *;




@media (min-device-width: 320px) {

    .beertile {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        background-color: cadetblue;
    }
        
    }
    
    
    
    
@media (min-device-width: 768px) {
    
.beertile {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: cadetblue;
}
    
}
    
    
    
    
    
@media (min-device-width: 1200px) {
    
        .beertile {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            height: 100vh;
            background-color: none;
            
    
    }
}