@use "../../assets/sass/variable.scss" as *;






@media (min-device-width: 320px) {

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid rgb(213, 211, 211);
    margin: 20px;
    border-radius: 15px;  
    box-shadow: 0 0 10px $primary-color;             
    overflow: hidden;
    

    &__title {
        justify-self: center;
        align-self: center;
        text-align: center;
        font-family: $primary-font;
        color: $color-black;
    }

    &__image {
        justify-self: center;
        align-items: center;
        height: 20vh;
    }

    &__description {
        font-size: 9px;
        font-family: $primary-font;
        padding-right: 10px;
        padding-left: 10px;
    }

    &__abv {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
    }

    &__ph {
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
    }
    
}


}

@media (min-device-width: 768px) {

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 3px solid rgb(213, 211, 211);
        margin: 40px;
        border-radius: 15px;
        box-shadow: 0 0 10px $primary-color;   
        
        
    
        &__title {
            justify-self: center;
            align-self: center;
            font-family: $primary-font;
            color: $color-black;
        }
    
        &__image {
            justify-self: center;
            align-items: center;
            height: 25vh;
        }
    
        &__description {
            font-size: 15px;
            font-family: $primary-font;
            padding-right: 10px;
            padding-left: 10px;
        }
    
        &__abv {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary-color;
        }

        &__ph {
            display: flex;
            justify-content: center;
            align-items: center;
            color: red;
        }
        
    }
    

}




@media (min-device-width: 1024px) {

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: transparent;
    border: 3px solid rgb(213, 211, 211);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    perspective: 1000px;

   


        &__inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }
    
        
        &__title {
            justify-self: center;
            align-self: center;
            font-family: $primary-font;
            color: $color-black;
        }
    
        &__image {
            justify-self: center;
            align-items: center;
            height: 25vh;
        }
    
    
        &__abv {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $primary-color;
        }
    
        &__ph {
            display: flex;
            justify-content: center;
            align-items: center;
            color: red;
        }
    

    &__back {
        background-color: #009ccc;
        font-size: 15px;
        font-family: $primary-font;
        transform: rotateY(180deg);
        border-radius: 15px;
        
    }

    &__description {
        font-size: 15px;
        font-family: $primary-font;
        color: white;
    }

}

.card:hover .card__inner {
    transform: rotateY(180deg);
}

.card__front, .card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden; 
}

}