@use "./assets/sass/variable.scss" as *;



@media (min-device-width: 320px){

    .app {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: $primary-white;
        
    }
    
    .header {
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgb(0, 156, 204);
        color: $primary-white;
        font-size: 15px;
        font-family: $primary-font;

    
    }

    .header__image {
        height: 50px;
    }


}



@media(min-device-width: 768px) {

    .app {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: $primary-white;
        
    }
    
    .header {
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgb(0, 156, 204);
        color: $primary-white;
        font-size: 35px;
        font-family: $primary-font;
    }

    .header__image {
        height: 80px;
    }

}


@media (min-device-width: 1024px) {


.app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-white;
    
}

.header {
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 156, 204);
    color: $primary-white;
    font-size: 40px;
    font-family: $primary-font;
}

.header__image {
    height: 125px;
}

}

@media (min-device-width: 1440px) {


    .app {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: $primary-white;
        
    }
    
    .header {
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgb(0, 156, 204);
        color: $primary-white;
        font-size: 50px;
        font-family: $primary-font;
    }
    
    .header__image {
        height: 150px;
    }
    
    }