@use "../../assets/sass/variable.scss" as *;






@media (min-device-width: 320px) {

   
    .nav__form {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $primary-font;
        border-radius: 15px;

        &-input {
            margin: 35px;
    
            height: 30px;
            width: 30vh;
            border: 2px solid $primary-color;
            border-radius: 10px;
            font-size: 20px;
            color: $color-black;
            
        }
               
    }
    
    .buttons {
        height: 35px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 15px;

        &__abv {
            border-radius: 10px;
            border: none;
            background-color: #009ccc;
            color: whitesmoke;
            height: 25px;
            width: 75px;
            cursor: pointer;
            font-size: 10px;
            
        }

        &__classic {
            border-radius: 10px;
            border: none;
            background-color: #009ccc;
            color: whitesmoke;
            height: 25px;
            width: 75px;
            font-size: 10px;
        }

        &__acidic {
            border-radius: 10px;
            border: none;
            background-color: #009ccc;
            color: whitesmoke;
            height: 25px;
            width: 75px;
            font-size: 10px;
        }
        
    }
    
    
}

@media (min-device-width: 768px) {

    
 
    .nav__form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-family: $primary-font;
        border-radius: 15px;
        
    }
    
    .buttons {
        height: 35px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 15px;

        &__abv {
            border-radius: 10px;
            border: none;
            background-color: #009ccc;
            color: whitesmoke;
            height: 25px;
            width: 115px;
            cursor: pointer;
            font-size: 13px;
            
        }

        &__classic {
            border-radius: 10px;
            border: none;
            background-color: #009ccc;
            color: whitesmoke;
            height: 25px;
            width: 115px;
            font-size: 13px;
        }

        &__acidic {
            border-radius: 10px;
            border: none;
            background-color: #009ccc;
            color: whitesmoke;
            height: 25px;
            width: 115px;
            font-size: 13px;
        }
        
    }
    
    .nav__form-input {
        margin: 30px;

        height: 25px;
        width: 35vh;
        border: 2px solid $primary-color;
        border-radius: 10px;
        font-size: 20px;
        color: $color-black;
        
    }
}



@media (min-device-width: 1024px) {
    
    .nav__form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-family: $primary-font;
        border-radius: 15px;
        
        
    }
    
    .buttons {
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px;

        &__abv {
            border-radius: 10px;
            border: none;
            background-color: #009ccc;
            color: whitesmoke;
            height: 30px;
            width: 120px;
            cursor: pointer;
            font-size: 13px;
            
        }

        &__classic {
            border-radius: 10px;
            border: none;
            background-color: #009ccc;
            color: whitesmoke;
            height: 30px;
            width: 120px;
            font-size: 13px
        }

        &__acidic {
            border-radius: 10px;
            border: none;
            background-color: #009ccc;
            color: whitesmoke;
            height: 30px;
            width: 120px;
            font-size: 13px
        }
        
    }
    
    .nav__form-input {
        margin: 30px;

        height: 30px;
        width: 40vh;
        border: 2px solid $primary-color;
        border-radius: 10px;
        font-size: 20px;
        color: $color-black;
        
    }
}


@media (min-device-width: 1440px) {
    
    .nav__form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-family: $primary-font;
        border-radius: 15px;
        
        
    }

    .nav__form-input {
        margin: 40px;

        height: 40px;
        width: 50vh;
        border: 2px solid $primary-color;
        border-radius: 10px;
        font-size: 20px;
        color: $color-black;
        
    }
    
    .buttons {
        height: 35px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 15px;

        &__abv {
            border-radius: 10px;
            border: none;
            background-color: #009ccc;
            color: whitesmoke;
            height: 35px;
            width: 125px;
            cursor: pointer;
            
        }

        &__classic {
            border-radius: 10px;
            border: none;
            background-color: #009ccc;
            color: whitesmoke;
            height: 35px;
            width: 125px;
        }

        &__acidic {
            border-radius: 10px;
            border: none;
            background-color: #009ccc;
            color: whitesmoke;
            height: 35px;
            width: 125px;
        }
        
    }
    
    
}