@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

$primary-font: 'Poppins', sans-serif;

$primary-white: #f2f2f2;
$color-black: rgb(29, 29, 29);
$primary-color: rgb(0, 156, 204)